

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.border {
	border: 2px solid grey;
	padding: 15px;
	margin: 2px;
}














